p {
  max-width: 38em; }

img {
  display: block;
  width: 100%; }

.img-big {
  max-width: 100%; }

.img-detail img {
  margin: 2em auto 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5; }
  @media all and (max-width: 768px) {
    body {
      font-size: 16px; } }

.wrapper-main {
  max-width: 1400px;
  margin: 0 auto; }

@media all and (min-width: 601px) {
  .product-general {
    display: flex;
    justify-content: center; } }

.img-gallery {
  flex: 1 1 auto;
  flex-basis: 50%;
  margin: 0; }
  @media all and (max-width: 568px) {
    .img-gallery {
      margin: 0 auto; } }

.txt-info {
  flex: 1 1 auto;
  flex-basis: 33%;
  margin: 0; }
  @media (min-width: 569px) and (max-width: 768px -1px) {
    .txt-info {
      flex: 1 1 auto;
      flex-basis: 50%;
      margin: 0; } }
  @media all and (min-width: 1024px) {
    .txt-info {
      flex: 1 1 auto;
      flex-basis: 50%;
      margin: 0; } }

.thumbnails {
  display: flex;
  justify-content: center; }

.thumbnail {
  flex: 1 1 auto;
  flex-basis: 33%;
  margin: 0;
  margin: 2px 2px 2px 0; }

.thumbnail:last-of-type {
  margin: 2px 0 2px 0; }

@media all and (min-width: 568px) {
  .detail {
    display: flex;
    justify-content: center; } }

.detail-img {
  flex: 1 1 auto;
  flex-basis: 40%;
  margin: 0;
  margin: 0 auto 0;
  border: 1px solid #fff;
  border-width: 1px 2px 1px 0;
  max-width: 504px;
  text-align: center; }

.detail-description {
  flex: 1 1 auto;
  flex-basis: 60%;
  margin: 0; }
  @media all and (min-width: 568px) {
    .detail-description {
      margin-left: 2em; } }
