@import "normalize",
        "variables",
        "grid",
        "typography",
        "img",
        "buttons";  



html {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: $large-font-size;  
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 3em; 

  @media all and (max-width: $screen-mid) {
    font-size: $small-font-size;
  }
}

section {
  margin: 0;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.wrapper-main {
  max-width: 1400px;
  margin: 0 auto;
}

.dev-note {
  background: $grey-light;
  padding: 1em;
  margin-bottom: 2em;
}

.product-general {
  @media (min-width: $screen-mid) {
    @include row();
  }
}

.product-title {
  color: $black;
  font-size: 2em;
  line-height: 1;
  margin: 0 0 0.5em;
  @media (min-width: $screen-mid) {
    font-size: 3em;
  }
}

.img-main {
  @include col(60%);
}

.txt-info {  
  @include col(40%);
  margin: 2em 0;
  padding: 0 1em;
  @media (min-width: $screen-mid) {
    margin-top: 0;
  }
}

.img-row {
  @media all and (min-width: $screen-sml) {
    @include row();
  }
}

.img-row .img-secondary {
  @include col(50%);
}

.img-row .img-secondary:last-of-type {

}

.detail {
  @media all and (min-width: $screen-sml) {
    @include row();
  }
}

.detail-img {
  @include col(50%);
  margin: 0 auto 0;
  //max-width: 504px;
  text-align: center;
}

.detail-description {
  @include col(50%);
  margin: 1em 1em 3em;
  @media all and (min-width: $screen-sml) {
    margin-left: 2em;
  }
}

.price {
  color: $green;
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

.add-to-cart {
  background: $yellow-light;
  padding: 1em;
  border-radius: $radius;
}

.highlight {
  font-weight: bold;
  color: green;
}

.note {
  background: $grey-light;
  margin: 1em auto;
  padding: 1em;
  max-width: 38em;
  text-align: left;
}

.input-small {
  max-width: 2.5em;
}
